*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:20px 20px 0;
}
.container{
    font-family: serif;
    display: inline-block;
    font-size: 25px;
    color: #00000082;
}
.container h3,h2,h4{
    margin-bottom: 7px;
}
#headline{
    font-size: 60px;
    font-family: serif;
    margin-bottom: 20px;
}
.purple-color{
    color: #8845F4;
}
.half-width{
    width: 50%;
    float: left;
}
.half-width a{
    text-decoration: none;
}
.side-image{
    width: 85%;
    position: relative;
    left: 50px;
}
.pic2{
    margin-top: 35px;
    width: 100%;
    left: 0;
}
.logo{
    width: 30%;
    margin:5px;
    filter: grayscale(100%);
}
.logo:hover{
    transform: rotate(720deg);
    transition: 0.5s;
    filter: grayscale(0%);
}
.social-links{
    margin-left: 25%;
}
.social-links a{
    text-decoration: none;
}
#mail-btn{
    background: #c93d3dd7;
    padding: 20px;
    border-radius: 10px;
    color: #fdfdfd;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 30px #4e4b4bde inset;
    text-shadow: 0 0 5px #4e4b4bde;
    display: inline-block;
    margin-left: 25px;
}
.experience{
    margin-top: 30px;
    background-color: #35be4633;
    border-radius: 10px;
    padding: 45px;
    box-shadow:0px 0px 30px #6a6a6ab1;
}
.experience p{
    font-size: 14px;
}
.experience a{
    text-decoration: none;
}
.experience-item{
    padding-left: 40px;
}
.sml-spc{
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    
}
#ph{
    font-weight: 100;
    text-decoration: underline;
    color: #00000082;
}
.end{
    background: #fbc7f283;
    text-align: center;
    color: black;
    font-weight: 700;
}
.foot{
    color: black;
    margin-top:25px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

/*End Index */

/* Start table */


.table{
    margin: 0 auto;
    background: #a5d8e4;
    font-size: 17px;
    border-radius: 3px;
}
.table th,td{
    padding:5px 10px;
    font-family: Monospace;
    border-radius: 3px;
}
.table th{
    font-size: 21px;
}
