*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:20px 20px 0;
}
.container{
    font-family: serif;
    display: inline-block;
    font-size: 25px;
    color: #00000082;
}
.container h3,h2,h4{
    margin-bottom: 7px;
}
#headline{
    font-size: 60px;
    font-family: serif;
    margin-bottom: 20px;
}
.purple-color{
    color: #8845F4;
}
.half-width{
    width: 50%;
    float: left;
}
.half-width a{
    text-decoration: none;
}
.side-image{
    width: 85%;
    position: relative;
    left: 50px;
}
.pic2{
    margin-top: 35px;
    width: 100%;
    left: 0;
}
.logo{
    width: 30%;
    margin:5px;
    filter: grayscale(100%);
}
.logo:hover{
    transform: rotate(720deg);
    transition: 0.5s;
    filter: grayscale(0%);
}
.social-links{
    margin-left: 25%;
}
.social-links a{
    text-decoration: none;
}
#mail-btn{
    background: #c93d3dd7;
    padding: 20px;
    border-radius: 10px;
    color: #fdfdfd;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 30px #4e4b4bde inset;
    text-shadow: 0 0 5px #4e4b4bde;
    display: inline-block;
    margin-left: 25px;
}
.experience{
    margin-top: 30px;
    background-color: #35be4633;
    border-radius: 10px;
    padding: 45px;
    box-shadow:0px 0px 30px #6a6a6ab1;
}
.experience p{
    font-size: 14px;
}
.experience a{
    text-decoration: none;
}
.experience-item{
    padding-left: 40px;
}
.sml-spc{
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #868282;
}
#ph{
    font-weight: 100;
    text-decoration: underline;
    color: #00000082;
}
.end{
    background: #fbc7f283;
    text-align: center;
    color: black;
    font-weight: 700;
}
.foot{
    color: black;
    margin-top:25px;
    text-align: center;
    padding: 20px;
    font-weight: 700;
}

/*End Index */

/*Start Login page */

.login-head{
    font-size: 35px;
    text-align: center;
    background: #8E9DAB;
    padding: 70px 0px;
    color: white;
}
.input{
    background: #8E9DAB;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    margin: 0 50px;
    font-size: 25px;
    position: absolute;
    top:40%;
    
}
.input h2{
    margin-bottom: 30px;
    color: #484848;
    font-size: 35px;
    color: white;
}
.input input{
    font-size: 30px;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    border: 3px solid white;
    box-shadow: 0 0 15px #888888;;
}
.input input:hover{
    background:#79e1fbc6 ;
}
#login-btn{
    text-decoration: none;
    background: #9b8ef8c9;
    padding: 8px 35px;
    font-size: 35px;
    box-shadow: 0 0 15px #888888;
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    font-family:"montserrat";
    background:#588fbf;
    font-weight: bold;
}
.login-page-foot{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*End login page*/



/* Start eror page */


.page-not-found{
    background: #c5c5c3;
}
#page-not-found-text{
    font-size: 80px;
    position: absolute;
    top:40%;
    bottom: 60%;
    left: 10%;
    right: 10%;
    color: #121212b7;
}
#page-not-found-link{
    position: absolute;
    top: 25px;
    left: 25px;
}
#home-btn{
    font-size: 40px;
    padding: 10px;
    border: 3px solid white;
    background: #737156e8;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    outline: none;
}


