.purple-color{
    color:#8845f4;
    text-decoration:none;
}
body {
    font-family:serif; 
    color:#777777;
    line-height:26px;
}
.half-width{
    width:50%;
    float:left;
}
.side-image{
    width:75%;
    padding-left:15%;
}
#primary-buttonfb{
    font-family:serif;
    text-align:center;
    color:white;
    font-weight:bold;
    background-color:#4267B2;
    padding:13px 30px 13px 30px;
    border-radius:10px;
    text-decoration:none;
    margin-right:25px;
}
h1 {
    font-size:2.5em;
}
.container{
    padding-left:5%;
    display:inline-block;
    margin-top:5px;
}
.experience{
    padding:30px;
    margin:30px;
    background-color:rgb(238,251,255);
    border-radius:20px;    
}
.experience-item{
    padding:1cm;
    border-left:1px solid rgba(137,230,247,.2);
}    

#headline{
    line-height:40px;
}
.end{
 color:black;
 background-color:rgba(255, 153, 128,.2);
 text-align:center;
 border-radius:10px;

}
.foot{
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    padding:5px 5px 5px 5px;
    border-radius:10px;
}
#ph{
    text-decoration:none;
    font-weight:bold;
}
a:hover {
    font-size:150%;
}
#primary-buttonin{
    font-family:serif;
    text-align:center;
    color:white;
    font-weight:bold;
    background-image:linear-gradient(to right,#DD2A7B,#8134AF) ;
    padding:13px 30px 13px 30px;
    border-radius:10px;
    text-decoration:none;
    margin-right:25px;
}
#primary-buttongo{
    font-family:serif;
    text-align:center;
    color:white;
    font-weight:bold;
    background-color:#D44638;
    padding:13px 30px 13px 30px;
    border-radius:10px;
    text-decoration:none;
}    
        






